# Preprocessing for HHAR dataset

In [95]:
import os
import shutil
import urllib
import zipfile
import warnings
import seaborn as sns
import matplotlib as plt
import pandas as pd

In [96]:
warnings.filterwarnings('ignore')
sns.set_style('whitegrid')

In [70]:
URL_UCI_HHAR = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00344/Activity recognition exp.zip'
DATASETS_DIR = '../datasets/'

In [82]:
def download_hhar_dataset(directory):
    if not os.path.exists(directory + 'HHAR.zip'):
        url = urllib.parse.quote(URL_UCI_HHAR, safe=':/')
        urllib.request.urlretrieve(url, directory + 'HHAR.zip')
    
    if not os.path.exists(directory + 'HHAR'):
        with zipfile.ZipFile(directory + 'HHAR.zip') as zf:
            zf.extractall(path=directory)

        shutil.rmtree(directory + '__MACOSX')
        shutil.move(directory + 'Activity recognition exp',
                    directory + 'HHAR')

In [83]:
download_hhar_dataset(DATASETS_DIR)

In [87]:
phone_acc = pd.read_csv(DATASETS_DIR + 'HHAR/Phones_accelerometer.csv')
phone_acc

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand
...,...,...,...,...,...,...,...,...,...,...
13062470,129048,1424778553315,92263781761000,1.379043,0.153227,9.959755,i,samsungold,samsungold_2,bike
13062471,129049,1424778553346,92263812248000,1.379043,0.153227,9.806528,i,samsungold,samsungold_2,bike
13062472,129050,1424778553366,92263832267000,1.532270,0.153227,9.806528,i,samsungold,samsungold_2,bike
13062473,129051,1424778553386,92263852409000,1.532270,0.000000,9.959755,i,samsungold,samsungold_2,bike
13062474,129052,1424778553395,92263861839000,1.379043,0.000000,9.959755,i,samsungold,samsungold_2,bike

In [88]:
phone_gyr = pd.read_csv(DATASETS_DIR + 'HHAR/Phones_accelerometer.csv')
phone_gyr

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand
...,...,...,...,...,...,...,...,...,...,...
13062470,129048,1424778553315,92263781761000,1.379043,0.153227,9.959755,i,samsungold,samsungold_2,bike
13062471,129049,1424778553346,92263812248000,1.379043,0.153227,9.806528,i,samsungold,samsungold_2,bike
13062472,129050,1424778553366,92263832267000,1.532270,0.153227,9.806528,i,samsungold,samsungold_2,bike
13062473,129051,1424778553386,92263852409000,1.532270,0.000000,9.959755,i,samsungold,samsungold_2,bike
13062474,129052,1424778553395,92263861839000,1.379043,0.000000,9.959755,i,samsungold,samsungold_2,bike

## Make train/eval